<div class="container" *ngIf="!isSubmitted">
 <h1>Enter your info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="checkAccountForm">
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your account no</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="account no"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        <span *ngIf="nid.hasError('required')">account no is required</span>
        <span *ngIf="nid.hasError('min')">minimum 5 digit required</span>
        <span *ngIf="nid.hasError('max')">maximum 10 digit required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        <span *ngIf="password.hasError('required')">password is required</span>
        <span *ngIf="password.hasError('minlength')">minimum 6 character required</span>
        <span *ngIf="password.hasError('maxlength')">maximum 10 character required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    submit-->
    <button
      mat-raised-button
      type="button"
      [disabled]="checkAccountForm.invalid"
      (click)="onSubmit(checkAccountForm.value)"
      color="primary"
      >Check</button>
  </form>
</div>
<div class="failed" *ngIf="isFailed && feedbackMessage">
  <h1 align="center">Checking Failed</h1>
  <h1 align="center">{{feedbackMessage}}</h1>
  <mat-divider></mat-divider>
  <br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Try Again
  </button>
</div>
<div class="success" *ngIf="isSucceed && member && feedbackMessage">
  <h1 align="center">{{feedbackMessage}}</h1>
  <mat-divider></mat-divider>
  <br><br>
  <h1>Name: {{member.name}}</h1>
  <h1>NID: {{member.nid}}</h1>
  <h1>Birth Date: {{member.birthDate}}</h1>
  <h1>Age: {{member.age}}</h1>
  <h1>Email: {{member.email}}</h1>
  <h1>Address: {{member.address}}</h1>
  <h1 *ngIf="member.book">Books: {{member.book}}</h1>
  <h1 *ngIf="!member.book">Books: No Books</h1>
  <h1 *ngIf="member.issueDate">Issu Date:{{member.issueDate}}</h1>
  <h1 *ngIf="member.fine">Fine: {{member.fine}}</h1>
  <h1 *ngIf="!member.fine">Fine: No fine</h1>
  <br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Check Another Account
  </button>
</div>
