<div class="container">
 <h1>Enter your info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="checkAccountForm">
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your account no</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="account no"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        account no is required
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        password is required
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    submit-->
    <button
      mat-raised-button
      [disabled]="checkAccountForm.invalid"
      (click)="onSubmit(checkAccountForm.value)"
      color="primary"
      >Check</button>
  </form>
</div>
