<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button>
    <mat-icon (click)="toogleSidenav()">menu</mat-icon>
  </button>
  <span>IBCS-Library</span>
  <span class="divider"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="dashboard">
  <mat-drawer mode="side" [opened]="sidenavOpened" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="." *ngFor="let navlink of navLinkList">{{navlink}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
