.container{
  height: 100%;

  mat-form-field{
    width: 50%;
    input,
    input:hover,
    input:focus,
    input:active  {
      //background-color: #454545;
    }

  }
  button{
    width: 150px;
  }
}
.failed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success{
  .book{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .no-book{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.return-failed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return-success{
  display: flex;
  flex-direction: column;
  align-items: center;
}
