<div class="container">
  <h1>Enter member info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="memberForm">
<!--    id-->
<!--    name-->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        matInput
        formControlName="name"
        placeholder="name"
      />
      <mat-error *ngIf="name && name.invalid && name.touched">
        <span *ngIf="name.hasError('required')">
          name is required
        </span>
        <span *ngIf="name.hasError('minlength')">
          minimum 3 character required
        </span>
        <span *ngIf="name.hasError('maxlength')">
          maximum 20 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>NID</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="nid"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        <span *ngIf="nid.hasError('required')">account no is required</span>
        <span *ngIf="nid.hasError('min')">minimum 5 digit required</span>
        <span *ngIf="nid.hasError('max')">maximum 10 digit required</span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    birthDate-->
    <mat-form-field appearance="fill">
      <mat-label>Birth Date</mat-label>
      <input
        type="text"
        name="birthDate"
        matInput
        formControlName="birthDate"
        placeholder="birth date"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary"></mat-datepicker>
      <mat-error *ngIf="birthDate && birthDate.invalid && birthDate.touched">
        birth date is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    age-->
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input
        type="number"
        name="age"
        matInput
        formControlName="age"
        placeholder="age"
      />
      <mat-error *ngIf="age && age.invalid && age.touched">
        <span *ngIf="age.hasError('required')">
          age is required
        </span>
        <span *ngIf="age.hasError('min')">
          minimum 18 years required
        </span>
        <span *ngIf="age.hasError('max')">
          maximum 150 years required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    email-->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        name="email"
        matInput
        formControlName="email"
        placeholder="email"
      />
      <mat-error *ngIf="email && email.invalid && email.touched">
        <span *ngIf="email.hasError('required')">
          email is required
        </span>
        <span *ngIf="email.hasError('email')">
          invalid email
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        <span *ngIf="password.hasError('required')">
          password is required
        </span>
        <span *ngIf="password.hasError('minlength')">
          minimum 6 character required
        </span>
        <span *ngIf="password.hasError('maxlength')">
          maximum 10 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    address-->
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input
        type="text"
        name="address"
        matInput
        formControlName="address"
        placeholder="address"
      />
      <mat-error *ngIf="address && address.invalid && address.touched">
        <span *ngIf="address.hasError('required')">
          address is required
        </span>
        <span *ngIf="address.hasError('minlength')">
          minimum 3 character required
        </span>
        <span *ngIf="address.hasError('maxlength')">
          maximum 20 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    book-->
<!--    issueDate-->
<!--    fine-->
<!--    submit button-->
    <button mat-raised-button
            (click)="onSubmit(memberForm.value)"
            [disabled]="memberForm.invalid"
            color="primary">Create Account</button>
  </form>
</div>
