<div class="container">
  <h1>Enter your info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="paymentForm">
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your account no</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="account no"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        <span *ngIf="nid.hasError('required')">account no is required</span>
        <span *ngIf="nid.hasError('min')">minimum 5 digit required</span>
        <span *ngIf="nid.hasError('max')">maximum 10 digit required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        <span *ngIf="password.hasError('required')">password is required</span>
        <span *ngIf="password.hasError('minlength')">minimum 6 character required</span>
        <span *ngIf="password.hasError('maxlength')">maximum 10 character required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    submit-->
    <button
      mat-raised-button
      [disabled]="paymentForm.invalid"
      (click)="onSubmit(paymentForm.value)"
      color="primary"
      >See due</button>
  </form>
</div>
<br><br><br>
