<div class="container" *ngIf="!isSubmitted">
  <h1>Enter your info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="paymentForm">
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your account no</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="account no"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        <span *ngIf="nid.hasError('required')">account no is required</span>
        <span *ngIf="nid.hasError('min')">minimum 5 digit required</span>
        <span *ngIf="nid.hasError('max')">maximum 10 digit required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        <span *ngIf="password.hasError('required')">password is required</span>
        <span *ngIf="password.hasError('minlength')">minimum 6 character required</span>
        <span *ngIf="password.hasError('maxlength')">maximum 10 character required</span>
      </mat-error>
    </mat-form-field>
    <br><br>

<!--    submit-->
    <button
      mat-raised-button
      type="button"
      [disabled]="paymentForm.invalid"
      (click)="onSubmit(paymentForm.value)"
      color="primary"
      >See due</button>
  </form>
</div>
<div class="failed" *ngIf="isAccountFailed && accountFeedback">
  <h1 align="center">{{accountFeedback}}</h1>
  <mat-divider></mat-divider>
  <br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Try Again
  </button>
</div>
<div class="success" *ngIf="isAccountSucceed && member && accountFeedback">
<!--  due-->
  <div class="due" *ngIf="member.fine != 0">
    <h1>{{accountFeedback}}</h1>
    <mat-divider></mat-divider>
    <br><br>
    <button
      mat-raised-button
      color="primary"
      (click)="payNow(member)">
      Pay Now
    </button>
  </div>
<!--  no due-->
  <div class="no-due" *ngIf="member.fine == 0">
    <h1>{{accountFeedback}}</h1>
    <mat-divider></mat-divider>
    <br><br>
    <button
      mat-raised-button
      color="primary"
      (click)="refreshPage()">
      Try New Account
    </button>
  </div>
</div>
<div class="failed" *ngIf="isPaymentFailed && paymentFeedback">
  <h1 align="center">Payment Failed!</h1>
  <h1 align="center">{{paymentFeedback}}</h1>
  <br><br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Try Again
  </button>
</div>
<div class="success" *ngIf="isPaymentSucceed && paymentFeedback && payedMember && payedMember.fine == 0">
  <h1 align="center">{{paymentFeedback}}</h1>
  <mat-divider></mat-divider>
  <br><br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Pay Another Account
  </button>
</div>
